/* Estilos para el contenedor de resultados */
.search-results-container {
  max-height: 300px;
  width: 51vw;
  overflow-y: auto;
  border-radius: 2px;
  padding: 0px;
  color: #ffffff;
}

/* Estilos para la lista de resultados */
.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Estilos para cada elemento de resultado */
.search-results li {
  background-color: #383b40;
  padding: 10px;
  transition: background-color 0.3s;
}

/* Estilos para el elemento li */
.search-results-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #383b40;
  padding: 10px;
  transition: background-color 0.3s;
}

/* Estilos para la clase que envuelve la imagen, el nombre y la profesión */
.search-results-img-name-pfhead {
  display: flex;
  align-items: center;
}

/* Estilos para la imagen */
.search-results img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

/* Estilos para el div contenedor de texto */
.search-results-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Estilos para el texto de professionalHeadline */
.search-pfhead {
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Estilos para el nombre y professionalHeadline */
.search-name,
.search-pfhead {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Estilos para el botón de favorito */
.favorite-button {
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #cddc39;
}
